body {
  background: #292828;
  font-family: "Montserrat", sans-serif;
  overflow-y: scroll;
}

.background {
  background: #eeeeee;
  width: 60%;
  min-height: 600px;
  margin: 0 auto;
}

/* MENU */

.cabeçalho {
  position: relative;
  margin: 0 auto;
}

header {
  background: #4f4f4f;
  width: 50%;
  height: 170px;
  margin: 0 auto;
  padding: 1px 5%;
}

.logo {
  width: 125px;
  height: 125px;
}

nav {
  position: relative;
  bottom: 100px;
  left: 200px;
}

nav li {
  display: inline;
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f7f7f7;
  font-weight: bold;
  font-style: 22px;
  font-size: 20px;
}

nav a:hover {
  color: red;
}

/* PÁGINA DE INICIO*/

.texto {
  position: absolute;
  display: flex;
}

div a:hover {
  color: red;
}

.texto a {
  font-size: 20px;
  font-weight: bold;
  color: black;
  background: white;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid white;
}

.cincojogos {
  width: 60%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* PÁGINA DE CONTATO */

.texto-contato1 {
  text-align: center;
  padding: 1px 5%;
  font-size: 20px;
  color: #000000;
}

.texto-contato2 {
  text-align: center;
  padding: 1px 5%;
  font-size: 20px;
  color: #000000;
  margin-bottom: 10%;
}

form label {
  margin-left: 34%;
  font-size: 20px;
  text-align: center;
}

form input {
  margin-bottom: 10px;
  margin-left: 34%;
  padding: 10px 10px;
  width: 30%;
}

form textarea {
  margin-bottom: 10px;
  margin-left: 34%;
}

.form {
  display: inline-block;
  margin-bottom: 5px;
}

#email {
  display: inline-block;
}

/* PÁGINA DE RANKING */

main {
  display: flex;
}

.texto-ranking {
  text-align: center;
  padding: 1px 5%;
  font-size: 25px;
  color: #000000;
}

.ranking-1 {
  padding: 1px 5%;
  margin: 0 auto;
  width: 38%;
  text-align: center;
}

.ranking-1 li {
  height: 370px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin-top: 20%;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 20px;
}

.ranking-2 {
  padding: 1px 5%;
  margin: 0 auto;
  width: 38%;
  text-align: center;
}

.ranking-2 li {
  height: 370px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin-top: 20%;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 20px;
}

.ranking-1 li:hover {
  border-color: red;
}

.ranking-2 li:hover {
  border-color: red;
}

.ranking-1 li:active {
  border-color: #eeeeee;
}

.ranking-2 li:active {
  border-color: #eeeeee;
}

.ranking-1 li:hover h2 {
  font-size: 30px;
}

.ranking-2 li:hover h2 {
  font-size: 30px;
}

.ranking-1 h2 {
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.ranking-2 h2 {
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.ranking-descricao {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.r1 {
  width: 150px;
  height: 150px;
}

.r2 {
  width: 150px;
  height: 150px;
}

h2 {
  color: #000000;
}

/* RODAPE DA PAGINA */

footer {
  text-align: center;
  background: #eeeeee;
  margin-bottom: 2%;
  width: 60%;
  min-height: 120px;
  margin: 0 auto;
}

.GhostFaceRodape {
  width: 200px;
  height: 80px;
}

.copyright {
  color: #000000;
  font-size: 15px;
}

/* PÁGINA: LER MAIS */

.texto1-lermais {
  padding: 70px 5%;
  font-size: 20px;
  color: #000000;
  font-weight: bold;
}

.texto2-lermais {
  width: 600px;
  font-size: 17px;
  color: #000000;
  font-weight: lighter;
  margin-bottom: 10%;
}

.texto3-lermais {
  padding: 150px 5%;
  font-size: 20px;
  color: #000000;
  font-weight: bold;
}

.texto4-lermais {
  width: 600px;
  font-size: 17px;
  color: #000000;
  font-weight: lighter;
  margin-bottom: 10%;
}

.texto5-lermais {
  width: 600px;
  font-size: 17px;
  color: #000000;
  font-weight: lighter;
}

.texto6-lermais {
  width: 600px;
  font-size: 17px;
  color: #000000;
  font-weight: lighter;
  margin-bottom: 25%;
}


.video1 {
  float: right;
  padding: 70px 5%;
}

/* TEXTO PARA MOSTRAR QUE A PÁGINA ESTÁ EM CONSTRUÇÃO (ALTERAR NOME DEPOIS) */

.texto-principal {
  text-align: center;
  padding: 1px 5%;
  font-size: 25px;
  color: #000000;
}

