body {
  background: #1C1C1C;
  font-family: "Montserrat", sans-serif;
  min-width: 1500px;
}

.background {
  background: #FFFFFF;
  width: 50%;
  margin: 0 auto;
  padding: 1px 20% 1000px 0px;
}

/* MENU */

.cabeçalho {
  position: relative;
  margin: 0 auto;
}

header {
  background: #4f4f4f;
  width: 50%;
  height: 150px;
  margin: 0 auto;
  padding: 1px 20% 1px 0px;
}

.logo {
  width: 100px;
  height: 100px;
}

nav {
  position: relative;
  bottom: 85px;
  left: 350px;
}

nav li {
  display: inline;
  max-width: 700px;
  margin: 0 30px 250px;
}

nav a {
  text-decoration: none;
  top: 0;
  left: 0;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-style: 22px;
  font-size: 22px;
}

/* PÁGINA DE INICIO*/

.texto ul {
  text-align: center;
  padding: 1px 20px 1px 400px;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  list-style: none;
}

.cincojogos {
  width: 70%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* PÁGINA DE CONTATO */

.texto-contato {
  padding: 1px 20px 1px 400px;
  font-size: 20px;
  color: #000000;
}

/* TEXTO PARA MOSTRAR QUE A PÁGINA ESTÁ EM CONSTRUÇÃO (ALTERAR NOME DEPOIS) */

.texto-principal {
  text-align: center;
  padding: 1px 20px 1px 400px;
  font-size: 25px;
  color: #000000;
}
